<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Login</h4>
                    </div>

                    <br />

                    {% if msg %}
                    <p>{{ msg | safe }}</p>
                    <br />
                    {% endif %}

                    <div class="card-body">
                        <form method="post" action="">
                            {{ form.hidden_tag() }}
                            <div class="row">
                                <div class="col-md-1 px-1">
                                    <div class="form-group">
                                        <label>Username</label>
                                    </div>
                                </div>

                                <div class="col-md-3 px-1">
                                    <div class="form-group">
                                        {{ form.username(placeholder="Username") }}
                                    </div>
                                </div>

                            </div>
                            <div class="row">

                                <div class="col-md-1 pl-1">
                                    <div class="form-group">
                                        <label id="txtNewPassword">Password</label>
                                    </div>
                                </div>

                                <div class="col-md-3 pl-1">
                                    <div class="form-group" id="txtNewPassword2">
                                        {{ form.password(placeholder="Password") }}
                                    </div>
                                </div>

                            </div>

                            <input type='submit' onclick="logare_valida()" name='submit' value='Login' class="primary"/>
                            &nbsp; &nbsp; Don't have an account? <a href={{url_for('register')}}> Register</a>
                            <div class="clearfix"></div>
                            <script>
                                var pastrare_pw = {{ password }};
                                var myInput = document.getElementById("txtNewPassword2");
                                function logare_valida() {
                                    if(myInput.value.length < 6){
                                        alert("Va rugam sa introduceti o parola mai lunga")
                                    }
                                    if(pastrare_pw.value != myInput.value){
                                        alert("Parola nu se potriveste cu numele utilizatorului")
                                    }
                                }

                            </script>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<!--<script>
    var sablon_psw = {{ form.password }};
</script>
<input type="password" id="psw" name="psw" pattern=sablon_psw title="Parola sau email-ul introduse incorect" required>

<div id="message">
  <h3>Password must contain the following:</h3>
  <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
  <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
  <p id="number" class="invalid">A <b>number</b></p>
  <p id="length" class="invalid">Minimum <b>8 characters</b></p>
</div>

<script>
var myInput = document.getElementById("psw");
var letter = document.getElementById("letter");
var capital = document.getElementById("capital");
var number = document.getElementById("number");
var length = document.getElementById("length");

// When the user clicks on the password field, show the message box
myInput.onfocus = function() {
  document.getElementById("message").style.display = "block";
}

// When the user clicks outside of the password field, hide the message box
myInput.onblur = function() {
  document.getElementById("message").style.display = "none";
}

// When the user starts to type something inside the password field
myInput.onkeyup = function() {
  // Validate lowercase letters
  var lowerCaseLetters = /[a-z]/g;
  if(myInput.value.match(lowerCaseLetters)) {
    letter.classList.remove("invalid");
    letter.classList.add("valid");
  } else {
    letter.classList.remove("valid");
    letter.classList.add("invalid");
  }

  // Validate capital letters
  var upperCaseLetters = /[A-Z]/g;
  if(myInput.value.match(upperCaseLetters)) {
    capital.classList.remove("invalid");
    capital.classList.add("valid");
  } else {
    capital.classList.remove("valid");
    capital.classList.add("invalid");
  }

  // Validate numbers
  var numbers = /[0-9]/g;
  if(myInput.value.match(numbers)) {
    number.classList.remove("invalid");
    number.classList.add("valid");
  } else {
    number.classList.remove("valid");
    number.classList.add("invalid");
  }

  // Validate length
  if(myInput.value.length >= 8) {
    length.classList.remove("invalid");
    length.classList.add("valid");
  } else {
    length.classList.remove("valid");
    length.classList.add("invalid");
  }
}
</script>-->
            